# Virtual environment
venv/
pr-venv/
ffc-venv/

# Environment variables / secrets
.env
*.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
#.vscode/

# Data files
#data/
#*.csv
#*.txt

# OS files
.DS_Store
Thumbs.db